.Header{
    border: 2px solid hsl(0, 0%, 30%);
    box-shadow: 2px 2px 2px #aaa;
    text-align: center;
    margin-top: 40px;
}

.Header .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}